Repository allianz/ng-aquila: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(theming): add possibility to use scoped non-token CSS (#1913)
  projects/ng-aquila/src/shared-styles/theming/mixins.scss
  projects/ng-aquila/src/shared-styles/theming/theming.scss
  projects/ng-aquila/src/theming/theming.md
Due: prettier --write

feat(selection): consolidate inputs to new A1 patterns (#1918)
  projects/ng-aquila/documentation/examples/selection/selection-indicator-on-selection/selection-indicator-on-selection-example.html
  projects/ng-aquila/src/card/selectable-card.component.html
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/selection-indicator-migration.spec.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/selection-indicator-migration.ts
  projects/ng-aquila/src/schematics/ng-update/data/input-names.ts
  projects/ng-aquila/src/schematics/ng-update/index.ts
  projects/ng-aquila/src/selection/checkbox-indicator.component.scss
  projects/ng-aquila/src/selection/checkbox-indicator.component.ts
  projects/ng-aquila/src/selection/radio-indicator.component.scss
  projects/ng-aquila/src/selection/radio-indicator.component.ts
  projects/ng-aquila/src/selection/types.ts
  projects/ng-aquila/src/tile/tile.component.html
Due: eslint --fix, prettier --write

feat(badge): rename colorScheme to accentColor (#1919)
  projects/ng-aquila/documentation/examples/badge/badge-accent-color/badge-accent-color-example.css
  projects/ng-aquila/documentation/examples/badge/badge-accent-color/badge-accent-color-example.html
  projects/ng-aquila/documentation/examples/badge/badge-accent-color/badge-accent-color-example.ts
  projects/ng-aquila/documentation/examples/badge/badge-brand/badge-brand-example.html
  projects/ng-aquila/documentation/examples/badge/badge-character/badge-character-example.html
  projects/ng-aquila/documentation/examples/badge/badge-color-scheme/badge-color-scheme-example.html
  projects/ng-aquila/documentation/examples/badge/badge-color-scheme/badge-color-scheme-example.ts
  projects/ng-aquila/documentation/examples/badge/badge-disabled/badge-disabled-example.html
  projects/ng-aquila/documentation/examples/badge/badge-examples.module.ts
  projects/ng-aquila/documentation/examples/badge/badge-inverse/badge-inverse-example.html
  projects/ng-aquila/documentation/examples/badge/badge-prominence/badge-prominence-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-reactive/licence-plate-reactive-example.html
  projects/ng-aquila/src/badge/badge.component.scss
  projects/ng-aquila/src/badge/badge.component.spec.ts
  projects/ng-aquila/src/badge/badge.component.ts
  projects/ng-aquila/src/badge/badge.md
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/badge-accent-color-migration.spec.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/badge-accent-color-migration.ts
  projects/ng-aquila/src/schematics/ng-update/data/input-names.ts
  projects/ng-aquila/src/schematics/ng-update/index.ts
  projects/ngx-docs-ui/src/lib/documentation/component-documentation/component-page/component-page.html
  projects/ngx-docs-ui/src/lib/documentation/component-documentation/overview/overview.component.html
Due: eslint --fix, prettier --write

feat(avatar): replace attention with prominence (#1921)
  projects/ng-aquila/documentation/examples/avatar/avatar-accent-colors/avatar-accent-colors-example.html
  projects/ng-aquila/src/avatar/avatar.md
  projects/ng-aquila/src/avatar/avatar.spec.ts
  projects/ng-aquila/src/avatar/avatar.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/avatar-accent-color-rename-migration.spec.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/avatar-accent-color-rename-migration.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/avatar-prominence-migration.spec.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/avatar-prominence-migration.ts
  projects/ng-aquila/src/schematics/ng-update/index.ts
Due: eslint --fix, prettier --write

feat(config)!: remove NxAllianzOneModule from ng-aquila (#1912)
  projects/ng-aquila/src/comparison-table/comparison-table.component.spec.ts
  projects/ng-aquila/src/comparison-table/select-button/select-button.component.ts
  projects/ng-aquila/src/config/allianz-one/allianz-one.module.ts
  projects/ng-aquila/src/config/allianz-one/allianz-one.spec.ts
  projects/ng-aquila/src/config/allianz-one/ng-package.json
  projects/ng-aquila/src/config/allianz-one/public-api.ts
  projects/ng-aquila/src/popover/popover.component.ts
  projects/ng-aquila/src/schematics/migrations.json
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/move-allianz-one-token-import.ts
  projects/ng-aquila/src/schematics/ng-update/index.ts
Due: eslint --fix, prettier --write

feat(text): rename nx-attention-color to nx-accent-color (#1920)
  projects/ng-aquila/documentation/examples/headline/headline-attention-text/headline-attention-text-example.html
  projects/ng-aquila/documentation/examples/headline/headline-attention-text/headline-attention-text-example.ts
  projects/ng-aquila/documentation/examples/small-stage/small-stage-style/small-stage-style-example.html
  projects/ng-aquila/documentation/examples/small-stage/small-stage-style/small-stage-style-example.ts
  projects/ng-aquila/documentation/examples/text/accent-color-basic/accent-color-basic-example.css
  projects/ng-aquila/documentation/examples/text/accent-color-basic/accent-color-basic-example.html
  projects/ng-aquila/documentation/examples/text/accent-color-basic/accent-color-basic-example.ts
  projects/ng-aquila/documentation/examples/text/accent-color-integration/accent-color-integration-example.css
  projects/ng-aquila/documentation/examples/text/accent-color-integration/accent-color-integration-example.html
  projects/ng-aquila/documentation/examples/text/accent-color-integration/accent-color-integration-example.ts
  projects/ng-aquila/documentation/examples/text/accent-color-negative/accent-color-negative-example.css
  projects/ng-aquila/documentation/examples/text/accent-color-negative/accent-color-negative-example.html
  projects/ng-aquila/documentation/examples/text/accent-color-negative/accent-color-negative-example.ts
  projects/ng-aquila/documentation/examples/text/attention-color-basic/attention-color-basic-example.html
  projects/ng-aquila/documentation/examples/text/attention-color-basic/attention-color-basic-example.ts
  projects/ng-aquila/documentation/examples/text/attention-color-integration/attention-color-integration-example.html
  projects/ng-aquila/documentation/examples/text/attention-color-integration/attention-color-integration-example.ts
  projects/ng-aquila/documentation/examples/text/attention-color-negative/attention-color-negative-example.html
  projects/ng-aquila/documentation/examples/text/attention-color-negative/attention-color-negative-example.ts
  projects/ng-aquila/documentation/examples/text/text-examples.module.ts
  projects/ng-aquila/src/headline/headline.md
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/attention-color-rename-migration.spec.ts
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/attention-color-rename-migration.ts
  projects/ng-aquila/src/schematics/ng-update/index.ts
  projects/ng-aquila/src/text/accent-color/accent-color.component.spec.ts
  projects/ng-aquila/src/text/accent-color/accent-color.component.ts
  projects/ng-aquila/src/text/accent-color/accent-color.scss
  projects/ng-aquila/src/text/accent-color/index.ts
  projects/ng-aquila/src/text/attention-color/attention-color.component.spec.ts
  projects/ng-aquila/src/text/attention-color/attention-color.component.ts
  projects/ng-aquila/src/text/attention-color/index.ts
  projects/ng-aquila/src/text/public-api.ts
  projects/ng-aquila/src/text/text.md
  projects/ng-aquila/src/text/text.module.ts
  projects/ngx-docs-ui/src/lib/documentation/search-results/search-results.component.html
  projects/ngx-docs-ui/src/lib/documentation/search-results/search-results.component.ts
  skills/a1-migration/SKILL.md
Due: eslint --fix, prettier --write

fix(schematic): avoid to inherit toString of Object.prototype (#1924)
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/date-range-validation-migration.ts
Due: eslint --fix, prettier --write

fix(schematics): don't warn on single date in daterange migration (#1925)
  projects/ng-aquila/src/schematics/ng-update/custom-update-tool-migrations/date-range-validation-migration.ts
Due: eslint --fix, prettier --write

release: cut 22.0.0 (#1927)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

build: update node version for github pages
  .github/workflows/deploy-docs.yml
Due: prettier --write

feat(multi-select): shows badge count on A1 (#1926)
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.scss
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.spec.ts
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
Due: eslint --fix, prettier --write

fix(grid): respect nopadding on container query grids (#1931)
  projects/ng-aquila/src/grid/layout.component.scss
Due: prettier --write

fix(multi-select): correct select-all state & a11y with pre-selected disabled options (#1904)
  projects/ng-aquila/documentation/examples/dropdown/dropdown-disabled-items/dropdown-disabled-items-example.ts
  projects/ng-aquila/src/dropdown/dropdown.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-all.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-all.spec.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.scss
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.spec.ts
Due: eslint --fix, prettier --write

fix: update stackblitz dependencies after major release (#1928)
  eslint.config.mjs
  projects/ng-aquila/documentation/assets/stack-blitz-tests/angular.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/package.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/src/index.html
  projects/ng-aquila/documentation/assets/stack-blitz-tests/src/main.ts
  projects/ng-aquila/documentation/assets/stack-blitz-tests/src/styles.scss
  projects/ng-aquila/documentation/assets/stack-blitz-tests/src/test.ts
  projects/ng-aquila/documentation/assets/stack-blitz-tests/src/test/jasmine-setup.ts
  projects/ng-aquila/documentation/assets/stack-blitz-tests/tsconfig.app.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/tsconfig.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/tsconfig.spec.json
  projects/ng-aquila/documentation/assets/stack-blitz/package-lock.json
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/documentation/assets/stack-blitz/tsconfig.json
  projects/ng-aquila/documentation/assets/stackblitz-issue-template/tsconfig.json
  projects/ng-aquila/documentation/assets/stackblitz-welcome/package-lock.json
  projects/ng-aquila/documentation/assets/stackblitz-welcome/tsconfig.json
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-button.ts
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.spec.ts
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.ts
Due: eslint --fix, prettier --write

fix(mask): render initial value written before mask init (#1934)
  projects/ng-aquila/src/mask/iban-mask.directive.spec.ts
  projects/ng-aquila/src/mask/mask.directive.ts
Due: eslint --fix, prettier --write

feat(header): add showDivider input to app title and actions (#1935)
  projects/ng-aquila/documentation/examples/header/header-cobranding/header-cobranding-example.html
  projects/ng-aquila/documentation/examples/header/header-icons/header-icons-example.html
  projects/ng-aquila/src/header/header.component.spec.ts
  projects/ng-aquila/src/header/header.component.ts
  projects/ng-aquila/src/header/header.md
  projects/ng-aquila/src/header/header.scss
Due: eslint --fix, prettier --write

fix(theme-switcher): prevent NDBX flash when switching themes (#1937)
  projects/ngx-docs-ui/src/lib/documentation/theme-switcher/theme-switcher.component.html
  projects/ngx-docs-ui/src/lib/documentation/theme-switcher/theme-switcher.component.ts
  projects/ngx-docs-ui/src/lib/documentation/theme-switcher/theme-switcher.service.ts
Due: eslint --fix, prettier --write

fix(grid): prevent nopadding grid from overflowing padded parent (#1932)
  projects/ng-aquila/src/grid/layout.component.scss
Due: prettier --write

fix(forms): mark form as touched when move out of group (#1933)
  projects/ng-aquila/documentation/examples/checkbox/checkbox-group-reactive/checkbox-group-reactive-example.html
  projects/ng-aquila/documentation/examples/checkbox/checkbox-reactive/checkbox-reactive-example.html
  projects/ng-aquila/documentation/examples/circle-toggle/circle-toggle-validation/circle-toggle-validation-example.html
  projects/ng-aquila/documentation/examples/tile/tile-reactive-forms/tile-reactive-forms-example.html
  projects/ng-aquila/src/checkbox/checkbox-group.component.spec.ts
  projects/ng-aquila/src/checkbox/checkbox.component.html
  projects/ng-aquila/src/checkbox/checkbox.component.ts
  projects/ng-aquila/src/circle-toggle/circle-toggle-group/circle-toggle-group.component.ts
  projects/ng-aquila/src/circle-toggle/circle-toggle/circle-toggle.component.ts
  projects/ng-aquila/src/radio-toggle/radio-toggle-button.component.html
  projects/ng-aquila/src/radio-toggle/radio-toggle.component.spec.ts
  projects/ng-aquila/src/radio-toggle/radio-toggle.component.ts
  projects/ng-aquila/src/tile/tile-group.component.ts
  projects/ng-aquila/src/tile/tile.component.html
  projects/ng-aquila/src/tile/tile.component.ts
Due: eslint --fix, prettier --write

docs: add version 22 to release plan (#1939)
  projects/ng-aquila/documentation/guides/releases.md
Due: prettier --write

feat(label, formfield): add info icon into label (#1929)
  projects/ng-aquila/documentation/examples/dropdown/dropdown-outline/dropdown-outline-example.html
  projects/ng-aquila/documentation/examples/dropdown/dropdown-outline/dropdown-outline-example.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-appearance/formfield-appearance-example.html
  projects/ng-aquila/documentation/examples/formfield/formfield-appearance/formfield-appearance-example.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-examples.module.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-global/formfield-global-example.html
  projects/ng-aquila/documentation/examples/formfield/formfield-global/formfield-global-example.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-info-icon/formfield-info-icon-example.css
  projects/ng-aquila/documentation/examples/formfield/formfield-info-icon/formfield-info-icon-example.html
  projects/ng-aquila/documentation/examples/formfield/formfield-info-icon/formfield-info-icon-example.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-prefix-suffix-appendix/formfield-prefix-suffix-appendix-example.html
  projects/ng-aquila/documentation/examples/formfield/formfield-prefix-suffix-appendix/formfield-prefix-suffix-appendix-example.ts
  projects/ng-aquila/documentation/examples/formfield/formfield-simple-form/formfield-simple-form-example.html
  projects/ng-aquila/documentation/examples/formfield/formfield-simple-form/formfield-simple-form-example.ts
  projects/ng-aquila/documentation/examples/label/label-examples.module.ts
  projects/ng-aquila/documentation/examples/label/label-info-icon/label-info-icon-example.css
  projects/ng-aquila/documentation/examples/label/label-info-icon/label-info-icon-example.html
  projects/ng-aquila/documentation/examples/label/label-info-icon/label-info-icon-example.ts
  projects/ng-aquila/src/base/base.md
  projects/ng-aquila/src/base/label/label-info.directive.ts
  projects/ng-aquila/src/base/label/label.component.html
  projects/ng-aquila/src/base/label/label.component.scss
  projects/ng-aquila/src/base/label/label.component.spec.ts
  projects/ng-aquila/src/base/label/label.module.ts
  projects/ng-aquila/src/base/public-api.ts
  projects/ng-aquila/src/formfield/formfield.component.html
  projects/ng-aquila/src/formfield/formfield.component.spec.ts
  projects/ng-aquila/src/formfield/formfield.component.ts
  projects/ng-aquila/src/formfield/formfield.md
  projects/ng-aquila/src/formfield/formfield.scss
  projects/ng-aquila/src/info-icon/info-icon.component.scss
  projects/ng-aquila/src/info-icon/info-icon.md
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
  projects/opensource-documentation/src/llms.txt
  skills/a1-migration/SKILL.md
Due: eslint --fix, prettier --write

fix: update dependencies for ng-packagr fix (#1945)
  package-lock.json
  package.json
Due: prettier --write

fix(modal): apply position overrides when not fullscreen
  projects/ng-aquila/src/modal/dialog/dialog.service.ts
  projects/ng-aquila/src/modal/dialog/modal-config.ts
  projects/ng-aquila/src/modal/dialog/modal-container.component.scss
  projects/ng-aquila/src/modal/dialog/modal.spec.ts
  projects/ng-aquila/src/modal/modal.md
Due: eslint --fix, prettier --write

Revert "fix(modal): apply position overrides when not fullscreen"
  projects/ng-aquila/src/modal/dialog/dialog.service.ts
  projects/ng-aquila/src/modal/dialog/modal-config.ts
  projects/ng-aquila/src/modal/dialog/modal-container.component.scss
  projects/ng-aquila/src/modal/dialog/modal.spec.ts
  projects/ng-aquila/src/modal/modal.md
Due: eslint --fix, prettier --write

release: cut 22.1.0 (#1946)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

feat(tabs): enhance tab styling and layout for A1 (#1941)
  projects/ng-aquila/documentation/examples/tabs/tabs-negative/tabs-negative-example.html
  projects/ng-aquila/documentation/examples/tabs/tabs-template/tabs-template-example.css
  projects/ng-aquila/src/shared-styles/mixins.scss
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
  projects/ng-aquila/src/tabs/scroll-indicator/scroll-indicator.scss
  projects/ng-aquila/src/tabs/tab-group.scss
  projects/ng-aquila/src/tabs/tab-header.scss
  projects/ng-aquila/src/tabs/tab-nav-bar.scss
Due: eslint --fix, prettier --write

refactor(mcp): use consistent usage naming in search-ndbx-components (#1944)
  projects/ng-aquila/mcp/src/tools/search-ndbx-components/search-ndbx-components.ts
Due: eslint --fix, prettier --write

fix(modal): apply position overrides when not fullscreen (#1948)
  projects/ng-aquila/src/modal/dialog/dialog.service.ts
  projects/ng-aquila/src/modal/dialog/modal-config.ts
  projects/ng-aquila/src/modal/dialog/modal-container.component.scss
  projects/ng-aquila/src/modal/dialog/modal.spec.ts
  projects/ng-aquila/src/modal/modal.md
Due: eslint --fix, prettier --write

fix(phone-input): prevent redundant re-formating on blur (#1949)
  projects/ng-aquila/src/phone-input/phone-input.component.spec.ts
  projects/ng-aquila/src/phone-input/phone-input.component.ts
Due: eslint --fix, prettier --write

fix(icon): update HttpClient provider guidance
  projects/ng-aquila/src/icon/icon.md
  projects/ng-aquila/src/icon/icons.ts
Due: eslint --fix, prettier --write

fix(icon): improve missing HttpClient error message
  projects/ng-aquila/src/icon/icons.ts
Due: eslint --fix, prettier --write

feat(styles): expose Sass breakpoint utilities
  .github/workflows/ci.yml
  package.json
  projects/ng-aquila/src/sass-utilities/sass-utilities.md
  projects/ng-aquila/src/shared-styles/breakpoint.scss
  projects/ng-aquila/src/shared-styles/breakpoints.scss
  projects/ng-aquila/src/shared-styles/public-utils.scss
  scripts/build-package.js
  scripts/test-styles-package.mjs
Due: prettier --write

fix(styles): handle unknown breakpoint names
  projects/ng-aquila/src/sass-utilities/sass-utilities.md
  projects/ng-aquila/src/shared-styles/breakpoints.scss
  scripts/test-styles-package.mjs
Due: prettier --write

ci: add code reviews (#1956)
  .github/workflows/claude-pr-review.yml
Due: prettier --write

corrected all legal documents according to guidelines
  AUTHORS
  LICENSE
  NOTICE
Due: none

feat(card): add elevated card variant (#1942)
  projects/ng-aquila/documentation/examples/card/card-examples.module.ts
  projects/ng-aquila/documentation/examples/card/elevated-card/elevated-card-example.css
  projects/ng-aquila/documentation/examples/card/elevated-card/elevated-card-example.html
  projects/ng-aquila/documentation/examples/card/elevated-card/elevated-card-example.ts
  projects/ng-aquila/documentation/examples/card/elevated-selectable-card/elevated-selectable-card-example.css
  projects/ng-aquila/documentation/examples/card/elevated-selectable-card/elevated-selectable-card-example.html
  projects/ng-aquila/documentation/examples/card/elevated-selectable-card/elevated-selectable-card-example.ts
  projects/ng-aquila/src/card/card.component.spec.ts
  projects/ng-aquila/src/card/card.component.ts
  projects/ng-aquila/src/card/card.md
  projects/ng-aquila/src/card/card.scss
  projects/ng-aquila/src/card/selectable-card.component.scss
  projects/ng-aquila/src/card/selectable-card.component.spec.ts
  projects/ng-aquila/src/card/selectable-card.component.ts
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
Due: eslint --fix, prettier --write

fix(taglist): template not updated when parent is onPush (#1943)
  projects/ng-aquila/src/taglist/taglist.component.spec.ts
  projects/ng-aquila/src/taglist/taglist.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: (any of: *.{ts,html}) or (any of: *.{js,json,md,scss,css,yml,yaml})
