Repository allianz/ng-aquila: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,html}": ["eslint --fix", "prettier --write"],
    "*.{js,json,md,scss,css,yml,yaml}": "prettier --write"
}

fix(iban-mask): set country code earlier on browser autofill (#1001)
  projects/ng-aquila/src/mask/iban-mask.directive.spec.ts
  projects/ng-aquila/src/mask/iban-mask.directive.ts
  projects/ng-aquila/src/mask/mask.directive.ts
Due: eslint --fix, prettier --write

fix(nx-word, nxAutoResize): prevent runtime error (#993)
  projects/ng-aquila/src/natural-language-form/word.component.spec.ts
  projects/ng-aquila/src/natural-language-form/word.component.ts
  projects/ng-aquila/src/number-stepper/auto-resize.directive.spec.ts
  projects/ng-aquila/src/number-stepper/auto-resize.directive.ts
Due: eslint --fix, prettier --write

fix: update font version in docs (#1003)
  projects/ng-aquila/src/icon/icon.md
Due: prettier --write

release: cut 16.6.0 (#1004)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

Deploying to gh-pages from @ 33af4f370ab52b52048c423b6d0229158afd3bab 🚀
  142.2068e774d33615bf.js
  142.582d399ff7a03e59.js
  205.3cbc48c8c0b10271.js
  205.91578a9095fe57e9.js
  2342.71fbc7ef05aeb5ea.js
  2342.8019d4939805497a.js
  2780.7122b72e1844fe9a.js
  2780.e0d4b3736dcc27c5.js
  4576.a3f43dbd59e3c0ef.js
  8015.5aa9a5bb725b13fa.js
  8015.fd3796c7096c6128.js
  8151.77cf19e47ef39435.js
  8151.817efbcc31c288d0.js
  8192.3154f58eb30b18a7.js
  8192.82deeb3eff4d020a.js
  8986.85f53fe179d40fad.js
  8986.dcaf7946b07cd238.js
  9468.ba346debb3fbb604.js
  docs-content/examples-source/footer/footer-basic/footer-basic-example.html
  docs-content/examples-source/icon/icon-examples.module.ts
  docs-content/examples-source/icon/status-icon/status-icon-example.css
  docs-content/examples-source/icon/status-icon/status-icon-example.html
  docs-content/examples-source/icon/status-icon/status-icon-example.ts
  index.html
  lib-viewer/api/icon.html
  lib-viewer/api/mask.html
  lib-viewer/examples/footer-basic-html.html
  lib-viewer/examples/status-icon-css.html
  lib-viewer/examples/status-icon-html.html
  lib-viewer/examples/status-icon-ts.html
  lib-viewer/fuse-search-entries.json
  lib-viewer/fuse-search-index.json
  lib-viewer/guides.json
  lib-viewer/guides/CHANGELOG.html
  lib-viewer/manifest.json
  lib-viewer/overview/icon.html
  main.2ea8204dbcc432fb.js
  main.ff8f4373abfe1b9d.js
  runtime.1d994213b2e868d9.js
  runtime.751672385a015037.js
Due: eslint --fix, prettier --write

feat(doc): add time based announcement (#1006)
  projects/ngx-docs-ui/src/lib/core/tokens.ts
  projects/ngx-docs-ui/src/lib/core/types.ts
  projects/ngx-docs-ui/src/lib/documentation/documentation-frame.component.html
  projects/ngx-docs-ui/src/lib/documentation/documentation-frame.component.ts
  projects/ngx-docs-ui/src/lib/documentation/documentation-frame.scss
Due: eslint --fix, prettier --write

feat(modal): add modal status config (#965)
  projects/ng-aquila/documentation/examples/modal/modal-examples.module.ts
  projects/ng-aquila/documentation/examples/modal/modal-status/modal-status-example.css
  projects/ng-aquila/documentation/examples/modal/modal-status/modal-status-example.html
  projects/ng-aquila/documentation/examples/modal/modal-status/modal-status-example.ts
  projects/ng-aquila/src/button/anchor-button.component.ts
  projects/ng-aquila/src/button/anchor-icon-button.component.spec.ts
  projects/ng-aquila/src/button/anchor-icon-button.component.ts
  projects/ng-aquila/src/button/anchor-plain-button.component.ts
  projects/ng-aquila/src/button/button-base.ts
  projects/ng-aquila/src/file-uploader/file-uploader.component.spec.ts
  projects/ng-aquila/src/modal/dialog/modal-config.ts
  projects/ng-aquila/src/modal/dialog/modal-container.component.html
  projects/ng-aquila/src/modal/dialog/modal-container.component.scss
  projects/ng-aquila/src/modal/dialog/modal-container.component.ts
  projects/ng-aquila/src/modal/dialog/modal.spec.ts
  projects/ng-aquila/src/modal/modal.component.ts
  projects/ng-aquila/src/modal/modal.md
  projects/ng-aquila/src/modal/modal.module.ts
Due: eslint --fix, prettier --write

fix(breadcrumbs): add hover to all variants (#1005)
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb-link/breadcrumb-link-example.html
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb-link/breadcrumb-link-example.ts
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb-negative/breadcrumb-negative-example.html
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb-negative/breadcrumb-negative-example.ts
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb/breadcrumb-example.html
  projects/ng-aquila/documentation/examples/breadcrumb/breadcrumb/breadcrumb-example.ts
  projects/ng-aquila/src/breadcrumb/breadcrumb-item.component.scss
  projects/ng-aquila/src/breadcrumb/breadcrumb.component.scss
  projects/ng-aquila/src/breadcrumb/breadcrumb.md
Due: eslint --fix, prettier --write

fix(stepper): show check mark when form disabled (#1007)
  projects/ng-aquila/src/progress-stepper/multi/multi-step-item.component.html
  projects/ng-aquila/src/progress-stepper/multi/multi-step-item.component.ts
  projects/ng-aquila/src/progress-stepper/multi/multi-step.component.html
  projects/ng-aquila/src/progress-stepper/multi/multi-step.component.spec.ts
  projects/ng-aquila/src/progress-stepper/progress-stepper.component.ts
Due: eslint --fix, prettier --write

fix(tabs): mobileAccordion option not working with rxjs > 7.8.0 (#1009)
  projects/ng-aquila/src/tabs/tab-group.ts
Due: eslint --fix, prettier --write

release: cut 16.7.0 (#1011)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

fix(multi-select): select all with filter (#1010)
  projects/ng-aquila/src/dropdown/multi-select/multi-select-all.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-all.spec.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.spec.ts
Due: eslint --fix, prettier --write

fix(code-input): handle mobile keyboard clipboard pasting (#1012)
  projects/ng-aquila/src/code-input/code-input.component.html
  projects/ng-aquila/src/code-input/code-input.component.spec.ts
  projects/ng-aquila/src/code-input/code-input.component.ts
Due: eslint --fix, prettier --write

fix(slider): increase value label font-weight (#1014)
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
Due: prettier --write

release: cut 16.7.1 (#1015)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

Deploying to gh-pages from @ cc4afa851834a2247a9b1255f2780892c2d3f0fa 🚀
  1828.3fdbbea5200e1b81.js
  1828.ced5b209c7498783.js
  9911.4dacbac7df9ca9df.js
  9911.9aa64dcd78e47934.js
  assets/aposin.css
  assets/expert.css
  index.html
  lib-viewer/fuse-search-entries.json
  lib-viewer/fuse-search-index.json
  lib-viewer/guides.json
  lib-viewer/guides/CHANGELOG.html
  lib-viewer/manifest.json
  main.7e7a025a6332131b.js
  main.a2eeb2730062010e.js
  runtime.c5252090130157d2.js
  runtime.d98ca21591b3233a.js
  styles.2745ee4534b2fd6a.css
Due: eslint --fix, prettier --write

feat(ag-grid): provide theme for ag-grid (#1016)
  angular.json
  package-lock.json
  package.json
  projects/ng-aquila/documentation/assets/stack-blitz/angular.json
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid-examples.module.ts
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid-opensource/ag-grid-opensource-example.css
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid-opensource/ag-grid-opensource-example.html
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid-opensource/ag-grid-opensource-example.ts
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.css
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.html
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.ts
  projects/ng-aquila/src/ag-grid/ag-grid.md
  projects/ng-aquila/src/ag-grid/ag-theme-aquila.scss
  scripts/build-package.js
Due: eslint --fix, prettier --write

fix(code-input): fix initial disabled state (#1017)
  projects/ng-aquila/src/code-input/code-input.component.html
  projects/ng-aquila/src/code-input/code-input.component.spec.ts
Due: eslint --fix, prettier --write

chore(headline): remove deprecation marker (#1019)
  projects/ng-aquila/src/headline/headline.component.ts
Due: eslint --fix, prettier --write

fix(pagination): add font inherit (#1020)
  projects/ng-aquila/src/pagination/pagination.component.scss
Due: prettier --write

fix(ag-grid): resize handle, popup backgrounds (#1021)
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.ts
  projects/ng-aquila/src/ag-grid/ag-grid.md
  projects/ng-aquila/src/ag-grid/ag-theme-aquila.scss
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
  projects/ng-aquila/src/table/resizing/header-resize.directive.ts
  projects/ng-aquila/src/table/table.component.scss
Due: eslint --fix, prettier --write

release: cut 16.8.0 (#1022)
  CHANGELOG.md
  projects/ng-aquila/src/package.json
Due: prettier --write

Deploying to gh-pages from @ 78a3af4f89c82237989d34ad4fbf2cd888d7e9f6 🚀
  3rdpartylicenses.txt
  481.dd0b5bf34f6df8a2.js
  906.1cfe61c2c83ee170.js
  906.aa573c1acd269bad.js
  9911.9aa64dcd78e47934.js
  9911.ea8161d985d9e96c.js
  assets/ag-theme-aquila.css
  assets/aposin.css
  assets/expert.css
  assets/stack-blitz/angular.json
  assets/stack-blitz/package.json
  docs-content/examples-source/ag-grid/ag-grid-examples.module.ts
  docs-content/examples-source/ag-grid/ag-grid-opensource/ag-grid-opensource-example.css
  docs-content/examples-source/ag-grid/ag-grid-opensource/ag-grid-opensource-example.html
  docs-content/examples-source/ag-grid/ag-grid-opensource/ag-grid-opensource-example.ts
  docs-content/examples-source/ag-grid/ag-grid/ag-grid-example.css
  docs-content/examples-source/ag-grid/ag-grid/ag-grid-example.html
  docs-content/examples-source/ag-grid/ag-grid/ag-grid-example.ts
  index.html
  lib-viewer/api/headline.html
  lib-viewer/examples/ag-grid-css.html
  lib-viewer/examples/ag-grid-html.html
  lib-viewer/examples/ag-grid-opensource-css.html
  lib-viewer/examples/ag-grid-opensource-html.html
  lib-viewer/examples/ag-grid-opensource-ts.html
  lib-viewer/examples/ag-grid-ts.html
  lib-viewer/fuse-search-entries.json
  lib-viewer/fuse-search-index.json
  lib-viewer/guides.json
  lib-viewer/guides/CHANGELOG.html
  lib-viewer/lazy-loading.service.ts
  lib-viewer/manifest.json
  lib-viewer/overview/ag-grid.html
  main.570e2be898fa863a.js
  main.7e7a025a6332131b.js
  runtime.2682ea3acf61ae53.js
  runtime.c5252090130157d2.js
  styles.20afe09a029c5278.css
  styles.2745ee4534b2fd6a.css
Due: eslint --fix, prettier --write

docs(ag-grid): correct theme path (#1023)
  projects/ng-aquila/src/ag-grid/ag-grid.md
Due: prettier --write

Deploying to gh-pages from @ 43d3641773c545fc652925dcd0fcc74332eb8ca6 🚀
  index.html
  lib-viewer/fuse-search-entries.json
  lib-viewer/fuse-search-index.json
  lib-viewer/manifest.json
  lib-viewer/overview/ag-grid.html
  main.0972971c1d53c759.js
  main.570e2be898fa863a.js
Due: eslint --fix, prettier --write

fix(tree): use role tree, correct aria-level (#1026)
  projects/ng-aquila/src/tree/node.ts
  projects/ng-aquila/src/tree/tree.component.spec.ts
  projects/ng-aquila/src/tree/tree.component.ts
Due: eslint --fix, prettier --write

fix(ag-grid): add more icon mappings (#1028)
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.html
  projects/ng-aquila/documentation/examples/ag-grid/ag-grid/ag-grid-example.ts
  projects/ng-aquila/src/ag-grid/ag-theme-aquila.scss
Due: eslint --fix, prettier --write

fix(data-display): correct font weight (#1024)
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
Due: prettier --write

chore: fix ag-grid in stackblitz (#1029)
  projects/ng-aquila/documentation/assets/stack-blitz/src/main.ts
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.ts
Due: eslint --fix, prettier --write

fix: export themes and styles in package.json (#1030)
  projects/ng-aquila/src/package.json
Due: prettier --write

fix(docs): add nxModalTitle (#1034)
  projects/ng-aquila/documentation/examples/modal/modal-content-actions/modal-content-actions-example.html
  projects/ng-aquila/documentation/examples/modal/modal-content-actions/modal-content-actions-example.ts
  projects/ng-aquila/src/modal/modal.md
Due: eslint --fix, prettier --write

fix(tooltip): add retail (#1037)
  projects/ng-aquila/src/tooltip/tooltip.md
Due: prettier --write

chore: remove pipeline workaround (#1038)
  ci/Jenkinsfile
Due: none

fix(fileuploader): hide file list container (#1035)
  projects/ng-aquila/src/file-uploader/file-uploader.component.html
Due: eslint --fix, prettier --write

chore: update i18n-iso-countries version (#1031)
  projects/ng-aquila/documentation/assets/stack-blitz-tests/package.json
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/src/package.json
Due: prettier --write

docs: document emphasis button a11y restriction (#1032)
  projects/ng-aquila/src/button/button.md
Due: prettier --write

docs: licence plate example hint text (#1036)
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-disabled/licence-plate-disabled-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-expert-states/licence-plate-expert-states-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-expert/licence-plate-expert-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-ngmodel/licence-plate-ngmodel-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-reactive/licence-plate-reactive-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-seasonal/licence-plate-seasonal-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-special/licence-plate-special-example.html
  projects/ng-aquila/documentation/examples/licence-plate/licence-plate-standard/licence-plate-standard-example.html
Due: eslint --fix, prettier --write

fix(error): add aria-hidden to the icon (#1041)
  projects/ng-aquila/src/base/error/error.component.html
Due: eslint --fix, prettier --write

fix(mulit-select): add readonly (#1040)
  projects/ng-aquila/documentation/examples/dropdown/dropdown-multi-select/dropdown-multi-select-example.html
  projects/ng-aquila/documentation/examples/dropdown/multi-select/multi-select-example.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.scss
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
Due: eslint --fix, prettier --write
